<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
        <!-- Hostname for the Azure AD instance -->
        <add key="Azure:ADInstance" value="https://login.microsoftonline.com/{0}/v2.0"/>

        <!-- Tenant Types
            - 'common' to sign-in Work or School accounts and Microsoft personal accounts
            - 'organizations' to sign-in Work or School accounts
            - 'consumers' to sign-in only Microsoft personal accounts
            - 'GUID' specific to that Azure AD Directory
        -->
        <add key="Azure:Tenant" value="common"/>

        <!-- ClientID (ApplicationID) -->
        <add key="Azure:ClientId" value=""/>

        <!-- API Values -->
        <add key="api:Scope" value=""/>
        <add key="api:Address" value="https://localhost:44363/identity"/>
    </appSettings>
</configuration>
